#theme-page{
    &.doctorsPage{
        .postContainer{
            float: left;
            width: calc(100% - 100px);
            margin-top: 40px;
            padding: 30px 50px 65px 50px;
            border: 1px solid #D5DEE1;
            box-shadow: 0 -4px 0 0 #009944;
            border-radius: 9px;
            .headerContainer{
                .title{
                    font-size: 28px;
                    color: #333333;
                    letter-spacing: 0;
                    font-weight: bold;
                }
            }
            .searchContainer{
                margin-top: 24px;
                .inputContainer{
                    display: inline-block;
                    margin-right: 20px;
                    vertical-align: top;
                    &:before{
                        content:'';
                        background-image: url('../images/search.png');
                        background-repeat: no-repeat;
                        background-size: 15px 15px;
                        position: absolute;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        margin: 19px;
                    }
                    input{
                        padding-left: 55px;
                        width: 355px;
                        font-size: 18px;
                        padding-top: 14px; 
                        padding-bottom: 14px; 
                        margin-bottom: 0;
                    }
                }
                .servicesListContainer{
                    display: inline-block;
                    margin-right: 77px;
                    #serviceSelect{
                        width: 530px;
                        line-height: 22px;
                        font-size: 18px;
                        color: #333333;
                        background: url('../images/arrowdown.png') right center no-repeat #eeeeee;
                        background-size: 12px 12px;
                        background-position-x: calc(100% - 20px); 
                        padding-top: 15px; 
                        padding-bottom: 15px; 
                        padding-right: 45px;
                        -webkit-padding-end: 50px !important;
                        -webkit-padding-start: 10px !important;
                    }                  
                }
                .buttonContainer{
                    display: inline-block;
                    border-radius: 1.5px;
                    vertical-align: top;
                    margin-top: 18px;
                    .searchBtn{
                        font-size: 18px;
                        color: #FFFFFF;
                        background: #009944;
                        padding: 15px 34px;
                        cursor: pointer;
                    }
                }
            }
            .caseFilterContainer{
                display: inline-block;
                .title{
                    padding: 10px 0;
                }
                .namefilter{
                    background-color: #eeeeee;
                    text-align: center;
                    width: 12px;
                    margin-right: 5px;
                    display: inline-block;
                    cursor: pointer;
                    padding: 3px 8px;
                    &.active{
                        background-color: #009944;
                        color: #fff;
                    }
                }
            }
            .clearContiner{
                display: block;
                padding-top: 10px;
                .doctorSearchClear{
                    cursor: pointer;
                }
            }
            .resultCountContainer{
                margin-top: 10px;
                .content{
                    font-size: 14px;
                    color: #333333;
                    letter-spacing: 0;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }
            .doctorGroupContainer{
                width: 100%;
                .groupContainer{
                    display: inline-block;
                    margin-top: 30px;
                    .groupName{
                        font-size: 20px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    td{
                        font-size: 16px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                        &.infoTitle{
                            width: 15%;
                        }
                        &.slit{
                            width: 5%;
                        }
                    }
                }
                .doctorContainer{
                    width: 100%;
                    float: left;
                    margin-top: 50px;
                    padding-bottom: 30px;
                    border-bottom: 1px solid #333333;
                    .doctorIdentity{
                        max-width: 200px;
                        float: left;
                        margin-right: 50px;
                        text-align: center;
                        .doctorThumbnail{
                            height: 250px;
                            overflow-y: hidden;
                            margin-bottom: 5px;
                            img{
                                width: 200px;
                            }
                        }
                        .doctorName{
                            font-size: 20px;
                            color: #333333;
                            letter-spacing: 0;
                            line-height: 24px;
                            font-weight: bold;
                            margin: 5px 0;
                        }
                        .doctorPositions{
                            margin-top: 5px;
                            .doctorPosition{
                                font-size: 16px;
                                color: #333333;
                                letter-spacing: 0;
                                line-height: 24px;
                            }
                        }
                        .doctorTitles{
                            .doctorTitle{
                                font-size: 16px;
                                color: #333333;
                                letter-spacing: 0;
                                line-height: 24px;
                            }
                        }
                    }
                    .respShowBtn{
                        display: none;
                    }
                    .doctorQualifications{
                        width: 360px;
                        float: left;
                        margin-right: 120px;
                        .qualificationTitle{
                            font-size: 20px;
                            color: #333333;
                            letter-spacing: 0;
                            line-height: 24px;
                            font-weight: bold;
                            padding-bottom: 20px;
                        }
                        .doctorQualification{
                            font-size: 16px;
                            color: #333333;
                            letter-spacing: 0;
                            line-height: 24px;
                        }
                    }
                    .doctorArticles{
                        .articleTitle{
                            font-size: 20px;
                            color: #333333;
                            letter-spacing: 0;
                            line-height: 24px;
                            padding-bottom: 20px;
                            font-weight: bold;
                        }
                        .doctorArticle{
                            .postLink{
                                font-size: 16px;
                                color: #009944;
                                letter-spacing: 0;
                                line-height: 24px;
                                &:before{
                                    content: ">";
                                    color: #009944;
                                    padding-right: 5px;
                                }
                            }
                        }
                        .moreArticle{
                            margin-top: 28px;
                            .moreBtn{
                                font-size: 12px;
                                color: #009944;
                                letter-spacing: 0;
                                line-height: 24px;
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }   
    }
}

@media screen and (max-width: 1280px){
    #theme-page{
        &.doctorsPage{
            .postContainer{
                margin: 45px 25px 0 25px;
                padding: 30px;
                .searchContainer{
                    .inputContainer{
                        width: calc(50% - 25px);
                        margin-right: 25px;
                        input{
                            width: 100%;
                        }
                    }
                    .servicesListContainer{
                        width: calc(50% - 25px);
                        margin-right: 0;
                        margin-left: 25px;
                    }
                    .buttonContainer{
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                }
                .caseFilterContainer{
                    text-align: left;
                    .namefilter{
                        margin-bottom: 10px;
                    }
                }
                .clearContiner{
                    padding-top: 0;
                    padding-left: 5px;
                }
                .doctorGroupContainer{
                    .doctorContainer{
                        .doctorQualifications{
                            margin-right: 0;
                        }
                        .doctorArticles{
                            display: inline-block;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    #theme-page{
        &.doctorsPage{
            .postContainer{
                padding: 0px;
                margin-top: 20px;
                float: none;
                border:0;
                width: auto;
                box-shadow: none;
                text-align: center;
                .searchContainer{
                    margin-top: 0;
                    padding: 0 10px;
                    .inputContainer{
                        display: block;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    .servicesListContainer{
                        display: block;
                        width: 100%;
                        margin-bottom: 15px;
                        margin-left: 0;
                        #serviceSelect{
                            padding-right: 0;
                            width: 100%;
                            border-radius: 9px !important;
                        }
                    }
                    .buttonContainer{
                        display: block;
                        width: 100%;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }
                .caseFilterContainer{
                    padding: 0 10px;
                }
                .clearContiner{
                    padding: 0 10px;
                    text-align: left;
                }
                .doctorGroupContainer{
                    .groupContainer{
                        margin-left: 0;
                        margin-right: 0;
                        .groupTable{
                            table-layout: initial !important;
                            td{
                                padding-left: 0 !important;
                            }
                        }
                    }
                    .doctorContainer{
                        &:last-child{
                            margin-bottom: 30px;
                        }
                    }
                }
            } 
        }
    }
}