.talkContainer{
    padding: 44px 0 41px 0;
    border-bottom: 1px solid #979797;
    .imageContainer{
        .adward_img_table{
            tr{
                td{
                    text-align: center !important;
                    img{
                        max-width: 160px !important;
                    }
                }
            }
        }
    }
    .infoContainer{
        h3{
            font-size: 18px;
            color: #009944;
        }
        table{
            .talksTableTitle{
                width: 35%;
            }
            .tableSlit{
                width: 5%;
            }
            td{
                color: #333333;
            }
        }
    }
}