@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('//fonts.googleapis.com/earlyaccess/notosanssc.css');
 
body{
	*{
		font-family: 'Noto Sans', 'Noto Sans TC','Noto Sans SC', sans-serif;
	}
	.zhHant *, .zhHans *{
		font-size: 19px !important;
	}
	@for $i from 6 to 10 {
		.zhHant-#{$i * 2} *, .zhHans-#{$i * 2} *{
			font-size: #{$i * 2}px !important;
		}
	}
	strong{
		font-size: 16px;
	}	
	p{
		font-size: 16px;
	}
}


.mk-header{
	.mk-header-holder{
		.mk-header-toolbar{
			&.toolbar-float-right{
				height: 0px;
				.mk-toolbar-holder{ 
					position: absolute;
					right: 0;
    				max-width: 500px;
					text-align: right;
					.mk-toolbar-navigation{
						display: inline-block;
						text-align: right; 
						margin-right: 0px;
						.toolBarDisclaimer{
							display: none;
						}
						a{
							color: #000;
						}
					}
					.main-nav-side-search{
						a{
							color: #000;
						}
						#mk-nav-search-wrapper{
							z-index: 100;
							width: 310px;
							right: 0;
							#mk-header-navside-searchform{
								.nav-side-search-icon{
									width: 35px;
									height: 35px;
									left: 0;
									right: initial;
									background-color: #f3f3f3;
									border: none;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
									svg{
										fill: #626262;
									}
									&:hover{
										svg{
											fill: #fff;
										}
									}
								}
								#mk-ajax-search-input{
									right: 0;
									left: initial;
									border: none;
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
									height: 35px;
									background-color: #f3f3f3;
									color: #626262;
								}
							}
						}
						.respFloatContainer{
							display: none;
						}
					}
					.mk-language-nav{
						display: inline-block;
						height: 36px;
						width: 100px;
						vertical-align: top;
						text-align: right;
						margin-right: 0;
						margin-left: 230px;
						>a{
							display: block;
							position: absolute;
							color: #000;
						}
						.mk-language-nav-sub-wrapper{
							display: block;
							position: absolute;
							top: 0px;
							left: 15px;
							.mk-language-nav-sub{
								background-color: initial;
								border: none;
								display: block;
								float: left;
								ul.mk-language-navigation{
									display: inline-flex;
									li{
										a{
											color: #000;
											min-width: auto;
											padding: 0;
										}
										&:last-child a{
											padding-right: 12px;
											border-right: 1px solid rgba(0, 0, 0, 1);
											span{
												padding-left: 4px;
											}
										}
									}
								}
							}
						}
					}
					.jfontsize{
						width: 80px;
						display: inline-block;
						vertical-align: top;
						text-align: right;
						margin-left: 0px;
						.fontsize-button{
							&.norm-button{
								padding: 0px 3px;
							}
							img{
								vertical-align: middle
							}
						}			
					}
				}	
			}
			.mk-header-search{
				.mk-search-trigger{
					padding: 0px;
				}
			}
		}
		.mk-header-inner{
			&.header-custom{
				border-bottom: none;
				.mk-grid{
					.add-header-height{
						.header-logo{
							a{
								padding-left: 20px;
							}
						}
					}
				}
				.mk-header-nav-container{
					border-top: 0;
					.mk-classic-menu-wrapper{
						text-align: center;
						max-height: 56px;					
						&:hover{
							border-bottom: 2px solid #009944;
						}
						.mk-main-navigation{
							width: 100%;
							> ul {
								>li:first-child:nth-last-child(1) {
									/* -or- li:only-child { */
										width: 100%;
								}
								@for $i from 2 to 10 {
									>li:first-child:nth-last-child(#{$i}),
										>li:first-child:nth-last-child(#{$i}) ~ li{
										width: (100% / ($i) )
									}
								}
								> li > a{
									font-weight: normal;
									padding: 0 !important;
								}
							}
						}
						.main-navigation-ul{
							>.menu-item{
								position: relative;
								width:150px;
								&:hover{
									background-color: #009944;
									height: 56px;									
									.menu-item-link{
										color: #fff;
										border-radius: 2px;
										&:after{
											opacity: 0;
										}
									}
								}
								&.dropdownOpen{
									height: 56px;
								}
								.menu-item-link{
									padding-top: 0;
									padding-bottom: 0;
									max-width: 150px;
								}
								&.threeCols{
									position: static;
									>.sub-menu{
										left: 0;
										padding-top: 20px;
										background-color: #fff;
										column-count: 3;
										column-fill: balance;
										overflow: hidden;
										column-rule: 0.5px solid;
										column-rule-color:#e5e5e5;
										z-index: inherit;
										.menu-item{
											width: 100%;
											.megamenu-widgets-container{
												padding-top: 0;
											}
											.menu{
												width: 100%;
												li{
													&:first-child{
														margin-top: 0;
													}
												}
											}
										}
										&:after{
											background-color: #009944;
										}
									}
								}
								.mega_col_1{
									background-color: transparent;
									padding-top: 0;
									box-shadow: 1px;
									&:after{
										background: transparent;
									}
									>.menu-item{
										margin-top: 2px;
										width: auto;
										background-color: #fff;
										&:after{
											background-color: rgba(230,230,230,0.5);
										}
										.menu{
											min-width: 300px;
											border: none;
											a:hover{
												color:#009944;
											}
											>.menu-item{
												border: none;
												margin: 20px 0 0 30px;
												&:before{
													content: " ";
												}
												>a{
													font-weight: 500;
													font-size: 16px;
												}								
												.sub-menu{
													border: none;
													display: block;
													padding-left: 10px;
													>.menu-item{
														border: none;
														margin: 20px 0 0 15px;
														a{
															font-size: 16px !important;
															color: #626262;
															&:hover{
																color:#009944;
															}
														}
													}
												}
												.mk-svg-icon{
													display: none;
												}
											}
										}
									}
								}
								&.current-menu-item{
									>.menu-item-link{
										&:after{
											display: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.mk-header-padding-wrapper{
		min-height: 53px;
	}
	&.header-style-2{
		.mk-header-padding-wrapper{
			padding-top: 95px;
		}
	}
}

.home {
	#theme-page{
		.mk-main-wrapper-holder:nth-of-type(2){
				display: none !important;
		}
		.homepageSlider{
			.mk-slider-holder{
				.mk-slider-slides{
					.mk-slider-slide{
						.slider-content{
							.mk-grid{
								.edge-slide-content{
									max-width: 400px;
									transform: translateY(-50%)translateX(25%);
									h3{
										color:#fff;
										strong{
											color:#fff;
										}
									}
									p{
										color:#fff;
										&:last-child{
											a{
												strong{
													color:#fff;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.mk-edge-nav{
					.mk-edge-prev, .mk-edge-next{
						background: none;
						border: none;
						width: 31px;
						height: 31px;
						background-color: #ebebeb;
						border-radius: 15px;
						.mk-edge-icon-wrap{
							padding: 3px 5px;
							>img{
								max-width: 20px;
								opacity: 0.5;
							}
						}
					}
				}
			}	
		}
	}
}

.floatmenuContainer{
	z-index: 1000;
	min-width: 40px;
	max-width: calc(183px + 40px);
	position: fixed;
	top: 430px;
	right:-145px;
	&.enVersion{
		max-width: calc(225px + 40px);
		right: -225px;
		.floatButton{
			writing-mode: vertical-lr;
			transform: rotate(180deg);
			>p{
				line-height: 48px;
				letter-spacing: 0px;
				text-orientation: unset;
			}
			img{
				transform: rotate(180deg);
			}
		}
		.menuContent{
			width: 225px;
		}
	}
	.floatButton{
		width: 40px;
		height: 145px;
		background: #920783;
		float: left;
		cursor: pointer;
		>p{			
			font-size: 18px !important;
			font-weight: 500;
			color: #ffffff;
			line-height: 35px;
			text-align: center;
			margin:0;
			text-orientation: upright;
			letter-spacing: 5px;
			width:100%;
		}
	}
	.menuContent{
		display: inline-block;
		width: 145px;
		.menuList{
			margin-left: 0;
			background: #E9FFF3;
			list-style-type: none;
			li{
				margin-left: 31px;
				a{
					font-size: 18px;
					font-weight: 500;
					line-height: 51px;
					color: #009944;
					&:hover{
						color: #920783;
						text-decoration: underline;
						text-decoration-color: #920783;
					}
				}
			}
		}
	}
}

.homepageGrid{ 
	.homepageGridContainer{
		display:none;
		&.slick-slider{
			background: transparent;
			.slick-prev{
				left: -35px;
				&:before{
					content: '';
					background-image: url(../images/gridNextLeftBlackIcon.png); 
					background-repeat: no-repeat;
					background-size: 31px 31px;
					display: inline-block;
					height: 31px;
					width: 31px;
					position: absolute;
					top: 50%;
					right: -120%;
					transform: translate(-50%, -50%);
				}
			}
			.slick-list{
				.slick-track{
					.slick-slide{
						margin-left: 27px;
						.gridInner{
							background-color: #f3f3f3;
							margin-top: 20px;
							margin-bottom: 20px;
							min-height: 345px;
							position: relative;
							&:nth-child(even){
								margin-bottom: 23px;
							}
							.gridThumbnail{
								img{
									width: 100%;
								}
							}
							.gridTitle{
								padding: 12px 0 5px 17px;
								a{
									margin-bottom: 10px;
									display: inline;
									height: auto;
									font-weight: bold;
								}
							}
							.gridDescription{
								padding: 0 10px 4px 17px;
								min-height: 50px;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
								display: -webkit-box;
								text-overflow: ellipsis;
							}
							.gridLink{
								position: absolute;
								bottom: 20px;
								left: 17px;
								a{
									background-color: #009944;
									color: #fff;
									padding: 4px 12px;
									border-radius: 5px;
								}
							}
							&:hover{
								background-color: #009944;
								.gridTitle{
									a{
										color: #fff;
									}
								}
								.gridDescription{
									color: #fff;
								}
								.gridLink{
									a{
										background-color: #fff;
										color: #009944;
									}
								}
							}
						}
					}
				}
			}
			.slick-next{
				right: -40px;
				z-index: 1000;
				&:before{
					content: '';
					background-image: url(../images/gridNextRightBlackIcon.png); 
					background-repeat: no-repeat;
					background-size: 31px 31px;
					display: inline-block;
					height: 31px;
					width: 31px;
					position: absolute;
					top: 50%;
					right: -120%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

.homepageSideBarContainer{
	&.column_container{
		padding-right: 0;
		padding-left: 75px;
	}
	.hotSearchMenu{
		.vc_column-inner{
			padding: 0;
			.wpb_content_element{
				margin-bottom: 0;
				.widget_nav_menu{
					padding: 0;
					margin-bottom: 0;
					.menu{
						.menu-item{
							a{
								width: 80%;
								padding: 14.5px 28px;
								font-weight: 500;
								&:after{
									content: ">";
									float: right;
									color: #9B9B9B;
								}
							}
						}
					}
				}
			}
		}
	}
	.promotionMenu{
		.vc_column-inner{
			padding: 0;
			.vert{
				max-height: 250px;
				margin-bottom: 0;
				width: 100%;
				.simply-scroll-clip{
   					height: 100%;
					width: 100%;
				}
			}
			.promotionPosts{
				border-left: 1px solid #ebebeb;
				border-right: 1px solid #ebebeb;
				list-style-type: none;
				margin-left: 0;
				margin-bottom: 0;
				.promotionInner{
					border-bottom: 1px solid #ebebeb;
					max-height: 37.5px;
					margin: 0px 18px;
					padding: 18.5px 0 0 0;
					width: calc(100% - 36px);
					a{   
						margin: 0px 23.5px 18.5px 10px;
						max-width: 250px;
						padding-right: 30px;
						display: block;
						display: -webkit-box;						
						height: 20px;
						line-height: 20px;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						position: relative;
						font-weight: normal;
						&:before{
							content:">";
							height: 10px;
							width: 6px;
							position: absolute;
							display: inline-block;
							right: 0px;
							top: 0px;
							color: #9B9B9B;
						}
					}
				}
			}
		}
	}
}

.homepageQuickView{	
	.column_container{
		min-height: 230px;
		background-origin: content-box;
		.mk-text-block{    
			margin: 15px 10px 0 10px;
			p{
				margin-bottom: 0;
				font-size: 24px;
				line-height: 28px;
				&:nth-child(2) {
					margin-bottom: 15px;
				}
			}
			a{
				background-color: #009944;
				color: #fff;
				padding: 4px 12px;
				border-radius: 5px;
				font-size: 16px;
			}
			&.buttonRightBottom{
				position: absolute;
				right: 20px;
				bottom: 10px;
			}
		}
		&.quickViewBottomLeft{
			position: relative;
			.mk-text-block{
				&:last-of-type{
					position: absolute;
					bottom: 15px;
				}
			}
		}
		&.quickViewBottomRight{
			position: relative;
			.mk-text-block{
				&:last-of-type{
					position: absolute;
					bottom: 15px;
					right: 15px;
				}
			}
		}	
	}	
}

#mk-footer{
	.footer-wrapper{
		text-align: center;
		max-width: 100%;
		.mk-padding-wrapper{
			padding: 0;
			div[class$="-container"]{
				display: inline-block;
				vertical-align: top;
				max-width: 132px;
				margin: 0 16px;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				.menuHeader{
					display: flex;
					justify-content: center;
					flex-direction: column;
					min-height: 50px;
					color: #009944;
					font-size: 16px;
					text-align: left;
					font-weight: 500;
					line-height: 22px;
				}
				.subMenu{
					list-style-type: none;
					text-align: left;
					.menu-item{
						margin-left: 0;
						margin-top: 10px;
						a{	
							font-weight: 400;
							display: block;
							font-size: 13px;
							color: #000000;
							letter-spacing: 0;
							line-height: 13px;
							min-height: 25px;
						}
					}
				}
			}
		}
	}
	#sub-footer{
		.mk-grid{
			margin-bottom: 21px;
			text-align: center;
			#mk-footer-navigation{
				display: inline-block;
				float: none;
			}
			.respMenuContainer{
				display: none;
			}
			.mk-footer-disclaimer{
				a{
					color:#009944;
					font-size: 16px;
					line-height: 22px;
				}
			}
			.mk-footer-copyright{
				float: initial;
				line-height: 18px;
				padding-top: 0;
			}
		}
	}
}

.bottom-corner-btns{
	.js-smooth-scroll{
		background: none;
		&:hover{
			background-color: transparent;
		}
		img{
			width: 45px;
			height: 45px;
		}
	}
}

@media screen and (min-width: 1280px){
	.mk-header{
		.mk-header-holder{
			.mk-header-inner{				
				.header-grid{
					.mk-header-search{
						display: none !important;
					}
				}
			}
		}
	}

	#mk-footer{
		#sub-footer{
			.mk-grid{			
				#mk-footer-navigation{
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 1280px){
	.mk-header{
		.mk-header-holder{
			.mk-header-toolbar{
				&.toolbar-float-right{
					.mk-toolbar-holder{
						display: none;
					}
				}
			}
			.mk-header-inner{
				.mk-toolbar-resposnive-icon{
					display: none;
				}
				.header-grid{
					.mk-header-search{
						display: block !important;
						position: absolute;
						z-index: 1000;
						right: 60px;
						top: 50%;
						margin-top: -18px;
						line-height: 8px;
						cursor: pointer;
						padding-bottom: 0;
						.mk-search-trigger {
							padding: 6px 12px;
							background-color: rgba(146,7,131, 0.7);
							line-height: 25px;
							color: #fff;
							&:hover{
								.mk-svg-icon{
									fill: #fff;
								}
							}							
						}
						#mk-nav-search-wrapper{
							z-index: 100;
							width: 310px;
							right: 0;
							background-color: transparent;
							#mk-header-navside-searchform{
								.nav-side-search-icon{
									width: 35px;
									height: 35px;
									left: 0;
									right: initial;
									background-color: #f3f3f3;
									border: none;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
									svg{
										fill: #626262;
									}
									&:hover{
										svg{
											fill: #fff;
										}
									}
								}
								#mk-ajax-search-input{
									right: 0;
									left: initial;
									border: none;
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
									height: 35px;
									background-color: #f3f3f3;
									color: #626262;
								}
							}
						}
						.respFloatContainer{
							display: none;
						}
					}
					.mk-nav-responsive-link{
						right: 17px;
						&.is-active{
							.mk-css-icon-menu{
								.mk-css-icon-menu-line-1{
									-webkit-transform: none;
									transform: none;
									top: initial;
								}
								.mk-css-icon-menu-line-2{
									opacity: initial;
								}
								.mk-css-icon-menu-line-3{
									-webkit-transform: none;
									transform: none;
									top: initial;
								}
							}
						}
					}
				}
				.mk-responsive-wrap{
					.mk-main-navigation{
						width: 100%;
						text-align: left;
						display: block;
						.main-navigation-ul {
							list-style-type:none;
							display: block;
							>.menu-item{
								line-height: 25px;
								display: block;
								float: initial;
								position: unset;
								border-bottom: 2px solid #ddd;
								padding-bottom: 5px;
								>a{
									padding-bottom: 0;
									color: #009944;
								}
								>.sub-menu{
									position: unset;
									background-color: #fff;
									padding: 0;
									>.menu-item{
										padding-left: 20px;
										>.megamenu-widgets-container{
											padding: 0;
											.menu{
												>.menu-item{    
													position: unset;
													line-height: 35px;
													&.menu-item-has-children{
														>a:after{
															content:" ";
															background-image: url('../images/downArrow.png');
															background-size: 15px 15px;
															height: 15px;
															width: 15px;
															display: inline-block;
															margin-top: 11px;
															float: right;
														}
													}
													>.sub-menu{
														.menu-item{
															a{
																color: #9B9B9B;
															}
														}
													}
												}
											}
											>.widget_text{
												display: none;
											}
										}
									}
								}
							}
						}
					}
					.mk-language-nav{
						margin-left: 20px;
						display: block;
						text-align: center;
						.mk-language-nav-sub-wrapper{
							display: inline-block;
							position: unset;
							.mk-language-nav-sub{
								position: unset;
								border: none;
								.mk-language-navigation{
									display: inline-flex;
									li{
										a{
											min-width: auto;
											padding: 0;
											span{
												padding-left: 0;
											}
										}
										&:last-child a{
											padding-right: 10px;
											padding-left: 4px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.homepageGrid{ 
		.homepageGridContainer{
			button{
				display: none !important;
			}
			.gridTitle{
				a{
					height: 10px;
					display: block;
					margin-bottom: 35px;
				}
			}
			.gridDescription{
				height: 10px;
				display: block;
				margin-bottom: 20px;
			}
		}
	}
	.homepageSideBarContainer{
		&.column_container{
			padding: 0 15px;
		}
		.promotionMenu{
			.vc_column-inner{
				.promotionPosts{
					.promotionInner{
						a{
							width: 80%;
							padding-right: 26px;
							max-width: initial;
						}
					}
				}
			}
		}
	}

	.homepageQuickView{	
		.column_container{
			.mk-text-block{    
				margin-top: 8vh;
				&.buttonRightBottom{
					bottom: 9vh;
				}
				p{
					font-size: 1.5em !important;
				}
			}
		}
	}
	.floatmenuContainer{
		display: none;
	}
	#mk-footer{
		.footer-wrapper{
			.mk-padding-wrapper{
				div[class$="-container"]{
					max-width: initial;
					margin-left: 0px;
					.menuHeader{
						display: initial;
						font-weight: normal;
						padding: 0 15px;
						border-left: 1px solid #009944;
					}
					.subMenu{
						&.menu{
							display: none;
						}
					}
					&:first-child{
						.menuHeader{
							border-left: none;
						}
					}
				}
			}
		}
		#sub-footer{
			.mk-grid{
				.respMenuContainer{
					display: block;
					.menuContent{
						.menuList{
							list-style-type: none;
							li{
								display: inline-block;
								margin-left: 0;
								a{
									display: inline-block;
									padding: 0 15px;
									border-right: 1px solid #009944;
									color:#009944;
									font-size: 16px;
									line-height: 16px;
								}
								&:last-child{
									a{
										border-right: none;
									}
								}
							}
						}
					}
				}
				.mk-footer-disclaimer{
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 768px){
	body{
		.mk-search-trigger{
			&.mk-toggle-active{
				& + #mk-nav-search-wrapper{
					background: #fff !important;
					& + .respFloatContainer{
						background: #fff;						
						display: block;
						position: fixed;
						left: 20px;
						width: calc(100% - 40px) !important;
						top: 160px;    
						margin-top: 20px;
						z-index: 100;
						.floatButton{
							cursor: pointer;
							box-shadow: 0 -3px 0 0 #009944;
							border-radius: 9px;
							>p{			
								font-size: 20px !important;
								color: #000;
								line-height: 35px;
								margin:0;
								letter-spacing: 5px;
								padding: 15px 30px;
								width:100%;
								font-weight: bold;
							}
						}
						.menuList{
							border-top: 1px solid #e2e2e2;
							margin-left: 0;
							list-style-type: none;
							padding: 0 30px;
							li{
								margin-left: 0;
								a{
									font-size: 16px;
									line-height: 51px;
									color: #009944;
									&:hover{
										color: #920783;
										text-decoration: underline;
										text-decoration-color: #920783;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.homepageSlider{
		display: none;
	}
	.floatmenuContainer{
		display: none;
	}
	.homepageGrid{ 
		.homepageGridContainer{
			.gridTitle{
				a{
					height: 10px;
					display: block;
					margin-bottom: 15px;
				}
			}
			.gridDescription{
				height: 10px;
				display: block;
				margin-bottom: 8px;
			}
			.gridLink{
				display: none;
			}
		}
	}
	.homepageSideBarContainer{
		&.column_container{
			padding: 15px;
		}
	}	
	#mk-footer{
		background:#edfaf1 !important;
	}
}

@media screen and (max-width: 576px){
	.homepageGrid{ 
		.homepageGridContainer{
			.gridTitle{
				a{
					height: 10px;
					display: block;
					margin-bottom: 35px;
				}
			}
			.gridDescription{
				height: 10px;
				display: block;
				margin-bottom: 8px;
			}
		}
	}
}