.unitActionButton{
    cursor: pointer;
    span{
        font-size: 16px;
        color: #009944;
        letter-spacing: 0;
        line-height: 30px;
    }
}
.unitInfoContainer{
    display: none;
    .vc_column-inner {
        padding: 0;
    }
    p{
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }
    >.wpb_heading{
        font-size: 16px;
        color: #626262;
        letter-spacing: 0;
        line-height: 24px;
    }
}
#html5-elem-data-box{
    #html5-text{
        background-color: #000;
        .html5-title{
            .html5-title-prefix{
                color: #fff;
                margin-left: 5px;
            }
        }
        .html5-description{
            margin-top: 0;
            margin-left: 5px;
            margin-bottom: 5px;
            color: #fff;
            a{
                color: #fff;
                background-color: #009944;
                padding: 4px;
                border-radius: 5px;
            }
        }
    }
}