#mk-theme-container{
    .mk-header{
        border-bottom: none;
        #mk-page-introduce{
            display: none !important;
        }
    }

    #theme-page{
        .video-container{
            .videoPlayButton {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                padding: 10px calc(50% - 50px);
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                opacity: 0.95;
                cursor: pointer;
                background-image: linear-gradient(transparent, #000);
                transition: opacity 150ms;
                &.hidden{
                    display: none;
                }
            }
        }
        .theme-page-wrapper{
            &.mk-main-wrapper{
                margin-top: 0;
                .theme-content{
                    padding: 0;
                    .widget_media_image{
                        position: relative;
                        max-height: 300px;
                        overflow-y: hidden;
                        border-radius: 5px;
                        .widgettitle{
                            text-shadow: 2px 2px 10px #000;
                            color: #ffffff;
                            font-size: 48px;
                            letter-spacing: 0;
                            position: absolute;
                            bottom: 24px;
                            left: 25px;
                            text-transform: uppercase;
                            line-height: 67px;
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }
                    }
                }
                .fullPageStyle{
                    .vc_row{
                        margin: 0;
                        .mk-page-title-box{
                            border-radius: 5px; 
                        }
                    }
                    &.bannerContainer{
                        min-height: 300px;
                        border-radius: 5px !important;
                        .widget_media_image{
                            margin-bottom: 0;
                            position: relative;
                            max-height: 300px;
                            overflow-y: hidden;
                            border-radius: 5px;
                            .widgettitle{
                                text-shadow: 2px 2px 10px #000;
                                color: #ffffff;
                                font-size: 48px;
                                letter-spacing: 0;
                                position: absolute;
                                bottom: 24px;
                                left: 25px;
                                text-transform: uppercase;
                                line-height: 67px;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                        }
                        .wpb_column{
                            padding: 0;
                            .mk-page-title-box{
                                min-height: 300px;
                                position: relative;
                                border-radius: 5px;
                                .mk-page-title-box-content{
                                    .mk-page-title-box-title{    
                                        text-shadow: 2px 2px 10px #000;
                                        color: #ffffff; 
                                        font-size: 48px; 
                                        letter-spacing: 0;
                                        position: absolute;
                                        bottom: 24px;
                                        left: 25px;
                                        text-transform: uppercase;
                                        line-height: 67px;
                                        margin-bottom: 0;
                                        padding-bottom: 0;
                                        &:after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.contentContainer{
                        margin-top: 40px;
                        border: 1px solid #D5DEE1;
                        box-shadow: 0 -4px 0 0 #009944;
                        border-radius: 9px; 
                        h3{
                            font-size: 24px;
                            color: #333333;   
                            letter-spacing: 0;
                        }
                        h4{
                            color: #333333; 
                            font-weight: 400;  
                        }
                        strong{
                            color: #333333;   
                        }
                        li{
                            color: #333333;   
                        }
                        p{
                            letter-spacing: 0;
                            line-height: 24px;
                            font-weight: 300;
                        }
                        a{
                            color:#009944;
                            &:hover{
                                color: #920783;
                            }
                        }
                        .descriptionContainer{                            
                            p{
                                padding: 0 55px;
                            }
                        }
                        .jobVacanciesContainer{
                            padding: 0 25px 0 55px;
                            .postsTable{
                                .tableHeader{
                                    th{
                                        padding: 40px 0 8px 0;
                                        text-align: left;
                                        span{
                                            font-size: 18px;
                                            color: #333333;
                                            letter-spacing: 0;
                                            line-height: 24px;
                                            font-weight: 500;
                                            border-bottom: 1px solid #333333;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                .post{
                                    td{
                                        text-align: left;
                                        padding: 12px 0 8px 0;
                                        padding-bottom: 0;
                                        font-size: 16px;
                                        color: #333333;
                                        letter-spacing: 0;
                                        line-height: 24px;
                                    }
                                    .postTitle{
                                        text-align: left;
                                        a{
                                            color: #009944;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.suggestionsContainer{
                        p{
                            margin-bottom: 0;
                        }
                        a{
                            font-size: 16px;
                            color: #003F00;
                            letter-spacing: 0;
                            line-height: 30px;
                        }
                        .pageContent{
                            margin: 0 170px 0 50px !important;
                            .vc_column-inner {
                                padding: 0 !important;
                            }
                            .pageTitle{
                                h3{
                                    padding: 30px 0 20px 0;
                                    margin-bottom: 0;
                                    font-size: 28px;
                                    color: #333333;
                                    letter-spacing: 0;
                                }
                            }
                            &.colsContent{
                                margin-top: 40px !important;
                                .leftColContent{
                                    .mk-fancy-table{
                                        margin-bottom: 0;
                                        tr{
                                            background-color: transparent !important;
                                        }
                                        thead{
                                            th{
                                                background-color: transparent !important;
                                                font-size: 20px;
                                                color: #333333;
                                                letter-spacing: 0;
                                                line-height: 30px;
                                                padding: 0;
                                            }
                                        }
                                        tbody{
                                            td{
                                                font-size: 16px;
                                                color: #003F00;
                                                letter-spacing: 0;
                                                line-height: 30px;
                                                padding: 0;
                                                border: none;
                                            }
                                        }
                                    }
                                }
                                .rightColContent{
                                    .pageTitle{
                                        h3{
                                            font-size: 20px;
                                            color: #333333;
                                            letter-spacing: 0;
                                            line-height: 30px;
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                            &.descriptionContent{
                                margin-top: 70px !important;
                                margin-bottom: 300px !important;
                                h3{
                                    font-size: 20px;
                                    color: #333333;
                                    letter-spacing: 0;
                                    line-height: 24px;
                                }
                                p{
                                    color: #000000;
                                    letter-spacing: 0;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                    &.contactUsContainer{
                        .pageContent{
                            margin: 0 180px 0 50px !important;
                            &.pageTitle{
                                .pageTitle{
                                    margin-top: 30px;
                                    h3{
                                        margin-bottom: 0;
                                        font-size: 28px;
                                        color: #333333;
                                        letter-spacing: 0;
                                    }
                                }
                                .pageDescription{
                                    margin-top: 24px;
                                    p{
                                        color: #333333;
                                        letter-spacing: 0;
                                        line-height: 24px;
                                    }
                                }
                            }
                            &.pageLink{
                                ul{
                                    column-count: 3;
                                    li{
                                        margin-bottom: 24px;
                                        padding-left: 0;
                                        font-size: 16px;
                                        color: #000000;
                                        letter-spacing: 0;
                                        line-height: 24px;
                                        &.catTitle{
                                            font-size: 20px;
                                            color: #333333;
                                            letter-spacing: 0;
                                            line-height: 24px;
                                            margin-bottom: 0;
                                        }
                                        &.noLink{
                                            a{
                                                color: #000000;
                                            }
                                        }
                                        .mk-svg-icon{
                                            display: none !important;
                                        }
                                        a{
                                            font-size: 16px;
                                            color: #009944;
                                            letter-spacing: 0;
                                            line-height: 24px;
                                            display: block;
                                        }
                                        &.last{
                                            margin-bottom: 0;
                                            color: #000000;
                                            letter-spacing: 0;
                                            line-height: 24px;
                                            &.first{
                                                margin-top: 120px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.bookingContainer{
                        margin: 40px 100px 0 100px;
                        border-radius: 9px; 
                        .descriptionContainer{
                            h3{
                                font-size: 28px;
                                color: #333333;
                                letter-spacing: 0;
                                padding: 30px 0;
                            }
                            p{
                                font-size: 16px;
                                color: #333333;
                                letter-spacing: 0;
                                line-height: 24px;
                            }
                        }
                        .formContainer{
                            .frm_section_heading{
                                h3{
                                    border-top: none;
                                }
                            }
                            .form-field{
                                margin-left: 0;
                                &.frm_first{
                                    margin-right: 25px;
                                }
                                select{
                                    padding: 17px 17px;
                                    font-size: 18px;
                                    height: auto;
                                    line-height: 18px;
                                    background-color: #F0F0F0;
                                    font-weight: 400;
                                    color: #000;
                                }
                                input{
                                    padding: 15px 0 15px 18px;
                                    font-size: 18px;
                                    line-height: 18px;
                                    height: auto;
                                    border-radius: 0;
                                    -webkit-border-radius: 0;
                                }
                                textarea{
                                    border-radius: 0;
                                    -webkit-border-radius: 0;
                                }
                            }
                            .frm_submit{
                                text-align: center;
                                margin-top: 60px;
                                button{
                                    font-size: 24px;
                                    color: #FFFFFF;
                                    background: #009944;
                                    padding: 13px 76px 9px 76px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.hasLeftSideBar{        
            .rightContainer{
                max-width: 926px;
                width: 100%;
                margin-top: 40px;
                display:inline-block;
                vertical-align: top;
                margin-left:25px;
                h3{
                    background: none;
                }
                strong{
                    color: #333333;
                }
                p{
                    color: #333333;
                    font-weight: 300;
                    text-align: justify;
                }
                a{
                    color: #009944;
                    &:hover{
                        color: #920783;
                    }
                }
                ul{
                    li{
                        color: #333333;
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
                ol{
                    li{
                        color: #333333;
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
                &.pageContainer{
                    .postHeader{
                        margin-bottom: 20px;
                        >.postTitle{
                            font-size: 24px;
                            color: #333333;
                            letter-spacing: 0;
                            margin-bottom: 0;
                            font-weight: 400;
                        }
                    }
                    .post-password-form{
                        .button{
                            background-color: #009944;
                        }
                    }
                    #pressCentrePosts{
                        margin-top: 40px;
                        .post{
                            margin-bottom: 0;
                            &:before{
                                content: ">";
                                color: #009944;
                                padding-right: 5px;
                            }
                            .postLink{
                                font-size: 16px;
                                letter-spacing: 0;
                                line-height: 30px;
                            }
                        }
                    }
                    .queryContainer{
                        margin-top: 70px;
                        p{
                            margin-bottom: 0;
                            font-size: 16px;
                            color: #333333;
                            letter-spacing: 0;
                            line-height: 24px;
                            &.enFirstQuery{
                                margin-top: 20px;
                            }
                        }
                    }
                    .dropDownContainer{
                        margin-top: 20px;
                        &.admissionGuideContainer{
                            .admissionGuideList{
                                ul{
                                    li{
                                        background: #FFFFFF;
                                        border: 1px solid #EDEDED;
                                        border-radius: 8.55px;    
                                        margin-bottom: 12px;
                                        i{
                                            display: none !important;
                                        }
                                        input[type=checkbox]:checked ~ h4{
                                            font-size: 22.8px;
                                            color: #333333;
                                            line-height: 50px;
                                            background: #EDEDED;
                                            border-radius: 8.55px;
                                            padding: 0 0 0 28px;
                                        }
                                        h4{
                                            font-size: 22.8px;
                                            color: #333333;
                                            line-height: 50px;
                                            background: #EDEDED;
                                            border-radius: 8.55px 8.55px 0 0;
                                            padding: 0 0 0 28px;
                                        }
                                        .accordion-content{
                                            padding: 0px 28px;
                                            ul{
                                                margin-top: 24px;
                                                list-style-type: disc;
                                                padding-left: 30px;
                                                li{
                                                    border: none;
                                                    a{
                                                        font-size: 14px;
                                                        padding-left: 0;
                                                        line-height: 21px !important; 
                                                        &:before{
                                                            content: "";
                                                        }
                                                    }
                                                }
                                            }
                                            a{
                                                padding-left: 28px;
                                                font-size: 22.8px;
                                                color: #009944;
                                                line-height: 50px;
                                                &:before{
                                                    content: "•";
                                                    color: #009944;
                                                    padding-right: 10px;
                                                }
                                                &:hover{
                                                    color: #920783;
                                                    text-decoration: underline;
                                                    &:before{
                                                        color: #920783;
                                                        display: inline-block;
                                                    }                                                            
                                                }
                                                &:first-child{
                                                    line-height: 70px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.accredAwardsContainer{
                            margin-top: 20px;
                            .vc_tta-tabs-container{
                                margin-right: 0;
                                .vc_tta-tabs-list{
                                    text-align: justify;
                                    width: 100%;
                                    display: table;
                                    &:after {
                                        content: '';
                                        display: inline-block;
                                        width: 100%;
                                    }
                                    li:first-child:nth-last-child(1) {
                                        /* -or- li:only-child { */
                                            width: 100%;
                                    }
                                    @for $i from 2 to 7 {
                                        li:first-child:nth-last-child(#{$i}),
                                            li:first-child:nth-last-child(#{$i}) ~ li{ 
                                            width: (100% / $i  )
                                        }
                                    }
                                    li{
                                        display: table-cell;
                                        float: inherit;
                                        vertical-align: middle;  
                                        border-bottom: 1px solid #D8D8D8;
                                        &.vc_active{
                                            border-bottom: 4px solid #009944;
                                            >a{
                                                padding-bottom: 10px !important;  
                                                span{
                                                    color: #009944;
                                                    font-size: 16px;
                                                    font-weight: 400;
                                                    line-height: 24px;
                                                    letter-spacing: 0;
                                                }                                
                                            }
                                        }
                                        a{
                                            border: none;
                                            background-color: initial;
                                            text-align: center;
                                            white-space: pre-wrap; /* css-3 */    
                                            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                                            white-space: -pre-wrap; /* Opera 4-6 */    
                                            white-space: -o-pre-wrap; /* Opera 7 */    
                                            word-wrap: break-word; /* Internet Explorer 5.5+ */
                                            span{
                                                font-size: 16px;
                                                font-weight: 400;
                                                color: #333333;
                                                letter-spacing: 0;
                                                line-height: 24px;
                                                &:hover{
                                                    color: #009944;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .vc_tta-panels-container{
                                .vc_tta-panels{
                                    background-color: transparent;
                                    border: none;
                                    .vc_tta-panel-body{
                                        padding: 0;
                                        .postsContainer{
                                            .postContainer{
                                                display: none;
                                                border-bottom: 1px solid #979797;                                            
                                                .postTitle{
                                                    padding: 10px 15px;
                                                    position: relative;
                                                    margin-bottom: 0px;
                                                    >span{
                                                        cursor: pointer;
                                                        color: #009944;
                                                        letter-spacing: 0; 
                                                        line-height: 30px;
                                                        opacity: 1;
                                                        width: 95%;
                                                        display: inline-block;
                                                    }
                                                    &:after{
                                                        content: '';
                                                        background-image: url(../images/leftArrowColor.png);
                                                        background-repeat: no-repeat;
                                                        background-size: 15px 15px;
                                                        display: inline-block;
                                                        height: 15px;
                                                        width: 15px;
                                                        position: absolute;
                                                        top: 50%;
                                                        right: 1%;
                                                        transform: translate(-50%, -50%);
                                                    }
                                                    &.active{
                                                        >span{
                                                            opacity: 0;
                                                        }
                                                        &:after{
                                                            content:'';
                                                            background-image: url('../images/upArrowColor.png');
                                                        }
                                                    }
                                                }
                                                .mk-in-viewport{
                                                    display: none;
                                                    .wpb_column{
                                                        &:first-child{
                                                            .wpb_row{
                                                                .vc_column-inner{
                                                                    padding-left: 0;
                                                                    .adward_img_table{
                                                                        td{
                                                                            text-align: center;
                                                                            .adward_imgs{
                                                                                max-width: 200px;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            .mk-text-block{
                                                                >p{                                                          
                                                                    cursor: pointer;
                                                                    text-overflow: ellipsis;
                                                                    display: -webkit-box;
                                                                    -webkit-line-clamp: 2;
                                                                    -webkit-box-orient: vertical;
                                                                    overflow: hidden;
                                                                    text-align: justify;
                                                                    font-size: 12px !important;
                                                                    &:hover{
                                                                        display: block;
                                                                        overflow: visible; 
                                                                        white-space: normal;
                                                                        height:auto; 
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &:last-child{
                                                            .mk-text-block{
                                                                .mk-fancy-title{
                                                                    background: initial;
                                                                    span{
                                                                        color: #009944;
                                                                        letter-spacing: 0; 
                                                                        line-height: 30px;
                                                                        font-size: 16px;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.inPatientContainer{
                            .mk-tabs-pane{
                                .mk-tabs-pane-content{
                                    .cq-accordion{
                                        li{
                                            border-top: 1px solid #D8D8D8;
                                            &:first-child{
                                                border-top: none;
                                            }
                                            &:last-child{
                                                border-bottom: 1px solid #D8D8D8;
                                            }
                                            input[type=checkbox]:checked ~ h4{
                                                font-size: 16px;
                                                color: #009944;
                                                letter-spacing: 0;
                                                line-height: 30px;
                                                padding: 10px 15px;
                                                font-weight: bold;
                                            }
                                            h4{
                                                font-size: 18px;
                                                color: #009944;
                                                letter-spacing: 0;
                                                line-height: 30px;
                                                padding: 10px 0px;
                                                font-weight: bold;
                                            }
                                            input[type=checkbox]:checked ~ i{
                                                margin-top: 28px !important;
                                                &:before{
                                                    display: none;
                                                }
                                                &:after{    
                                                    content: '';
                                                    background-image: url(../images/leftArrowColor.png);
                                                    background-color: transparent;
                                                    background-repeat: no-repeat;
                                                    background-size: 15px 15px;
                                                    display: inline-block;
                                                    height: 15px;
                                                    width: 15px;
                                                    position: absolute;
                                                    top: 50%;
                                                    right: 1%;
                                                    transform: translate(-50%, -50%);
                                                }
                                            }
                                            i{
                                                margin-top: 28px !important;
                                                &:before{
                                                    display: none;
                                                }
                                                &:after{
                                                    content: '';
                                                    background-image: url(../images/upArrowColor.png);
                                                    background-color: transparent;
                                                    background-repeat: no-repeat;
                                                    background-size: 15px 15px;
                                                    display: inline-block;
                                                    height: 15px;
                                                    width: 15px;
                                                    position: absolute;
                                                    top: 50%;
                                                    right: 1%;
                                                    transform: translate(-50%, -50%);
                                                }
                                            }
                                            input[type=checkbox]:checked ~ .accordion-content{
                                                margin-bottom: 0;
                                            }
                                            .accordion-content{
                                                margin-bottom: 20px;
                                                p{
                                                    margin-bottom: 0;
                                                    padding-bottom: 0;
                                                }
                                                ul{
                                                    list-style-type: disc;
                                                    padding-left: 30px;
                                                    li{
                                                        border-top: none;
                                                        border-bottom: none;
                                                    }   
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .mk-tabs-tabs{
                        text-align: justify;
                        width: 100%;
                        display: table;
                        &:after {
                            content: '';
                            display: inline-block;
                            width: 100%;
                        }
                        li:first-child:nth-last-child(1) {
                            /* -or- li:only-child { */
                                width: 100%;
                        }
                        @for $i from 2 to 7 {
                            li:first-child:nth-last-child(#{$i}),
                                li:first-child:nth-last-child(#{$i}) ~ li{ 
                                width: (100% / ($i - 1) )
                            }
                        }
                        li{
                            display: table-cell;
                            float: inherit;
                            vertical-align: middle;
                            border-bottom: 1px solid #D8D8D8;
                            &.is-active{
                                border-bottom: 4px solid #009944 !important;
                                >a{
                                    font-size: 16px;
                                    color: #009944;
                                    letter-spacing: 0;
                                    line-height: 24px;
                                    padding-bottom: 7px !important;                                  
                                }
                            }
                            a{
                                border: none;
                                background-color: initial;
                                text-align: center;
                                font-size: 16px;
                                font-weight: 400;
                                color: #333333;
                                letter-spacing: 0;
                                line-height: 24px;
                                white-space: pre-wrap; /* css-3 */    
                                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                                white-space: -pre-wrap; /* Opera 4-6 */    
                                white-space: -o-pre-wrap; /* Opera 7 */    
                                word-wrap: break-word; /* Internet Explorer 5.5+ */
                                &:hover{
                                    color: #009944;
                                }
                            }
                        }
                    }
                    .mk-tabs-panes{    
                        border-top-color: transparent;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        border-left-color: transparent;
                        .mk-tabs-pane{
                            .mk-tabs-pane-content{
                                .doctorsContainer{
                                    .doctorContainer{
                                        width: 100%;
                                        margin-top: 50px;
                                        padding-bottom: 30px;
                                        border-bottom: 1px solid #333333;
                                        .doctorThumbnail{
                                            display: inline-block;
                                            vertical-align: top;
                                            img{
                                                width: 200px;
                                                vertical-align: middle;
                                            }
                                        }
                                        .doctorIdentity{
                                            display: inline-block;
                                            max-width: 200px;
                                            margin: 0 25px;
                                            text-align: center;    
                                            vertical-align: top;
                                            .doctorName{
                                                font-size: 20px;
                                                color: #333333;
                                                letter-spacing: 0;
                                                line-height: 24px;
                                                font-weight: bold;
                                            }
                                            .doctorPositions{
                                                margin-top: 10px;
                                                .doctorPosition{
                                                    font-size: 16px;
                                                    color: #333333;
                                                    letter-spacing: 0;
                                                    line-height: 24px;
                                                }
                                            }
                                            .doctorTitles{
                                                .doctorTitle{
                                                    font-size: 16px;
                                                    color: #333333;
                                                    letter-spacing: 0;
                                                    line-height: 24px;
                                                }
                                            }
                                        }
                                        .doctorQualifications{
                                            display: inline-block;
                                            min-width: 300px;
                                            margin: 0 25px; 
                                            vertical-align: top;
                                            .qualificationTitle{
                                                font-size: 20px;
                                                color: #333333;
                                                letter-spacing: 0;
                                                line-height: 24px;
                                                font-weight: bold;
                                                padding-bottom: 20px;
                                            }
                                            .doctorQualification{
                                                font-size: 16px;
                                                color: #333333;
                                                letter-spacing: 0;
                                                line-height: 24px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .locationConatiner{
                        .column_container{
                            &:first-child{                                
                                padding-right: 0;
                                .mk-text-block{
                                    p{
                                        margin-bottom: 0px;
                                    }
                                }
                                .adward_img_table{
                                    td{
                                        padding: 0;
                                        .adward_imgs{
                                            max-height: 300px;
                                        }
                                    }
                                }
                            }
                            &:last-child{
                                padding-left: 0;
                                padding-right: 60px;
                                .wpb_wrapper{
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
                .articlesListContainer{
                    margin-top: 30px;
                    select{
                        &#articlesCatSelect{
                            width: 530px;
                            line-height: 22px;
                            font-size: 18px;
                            color: #333333;
                            background: url('../images/arrowdown.png') right center no-repeat #eeeeee;
                            background-size: 12px 12px;
                            background-position-x: calc(100% - 20px); 
                            padding-top: 15px; 
                            padding-bottom: 15px; 
                            -webkit-padding-end: 50px !important;
                            -webkit-padding-start: 10px !important;
                        }
                    }
                }
                .langAttn{
                    margin-top: 10px;
                }
                #articlePosts{
                    margin-top: 30px;
                    .post{
                        margin-bottom: 0;
                        td{
                            font-size: 16px;
                            letter-spacing: 0;
                            line-height: 30px;
                            text-align: left;
                            padding: 0;
                        }
                        .postLink{
                            a{
                                color: #009944;
                                font-size: 16px;
                                letter-spacing: 0;
                                line-height: 30px;
                                &:hover{
                                    color: #920783;
                                    text-decoration: underline;
                                    text-decoration-color: #920783;
                                }
                            }
                        }
                        .authorInfo{
                            color: #333333;
                        }
                    }
                }
            }
        }
        table{
            overflow: inherit; 
            width: 100%;
            table-layout: fixed;           
            tr{
                td{
                    text-align: left;
                    padding-left: 15px;
                }
                .tableHeader{
                    background-color: #009944;
                    color: #fff;
                    border: 1px solid #fff;
                    border-bottom: none;
                    &:first-child{
                        border-left: none;
                    }
                    &:last-child{
                        border-right: none;
                    }
                    strong{
                        color: #fff !important;
                    }
                }
                .tableSubHeader{
                    background-color: rgba(0,153,68,0.20);
                    color: #000;
                    border-bottom: 1px solid #009944;
                }
                .tableTitle{
                    background-color: rgba(0,153,68,0.05);
                    color: #009944;
                    border-bottom: 1px solid #009944;
                }
                .tableData{
                    background-color: #fff;
                    color: #009944;
                    border-bottom: 1px solid #009944;
                    &:nth-child(2n+1):not([colspan]){
                        background-color: rgba(0,153,68,0.05);
                    }
                }
            }
        }
    } 
}

#ui-datepicker-div{
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
    .ui-datepicker-header{
        margin-top: 15px;
        a{
            position: absolute;
            top: 17px;
            width: 1.8em;
            height: 1.8em;
            span{
                display: none;
            }
            &:after{
                content: '';
                background-repeat: no-repeat;
                background-size: 15px 15px;
                display: inline-block;
                height: 15px;
                width: 15px;
                position: absolute;
                top: 50%;
                right: 1%;
                transform: translate(-50%, -50%);
            }
        }
        .ui-datepicker-prev{
            left: 7px;
            &:after{
                background-image: url(../images/leftArrowBlue.png);
            }
        }
        .ui-datepicker-next{
            right: 7px;
            &:after{
                background-image: url(../images/rightArrowBlue.png);
            }
        }
        .ui-datepicker-title{
            margin: 0 2.3em;
            line-height: 1.8em;
            text-align: center;
            select{
                display: inline-block;
                background: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
                font-size: 16px;
                color: #333333;
                line-height: 20px;
            }
            .ui-datepicker-month{
                width: 20%;
            }
            .ui-datepicker-year{
                width: 25%;
            }
        }
    } 
    .ui-datepicker-calendar{
        margin: 0;
        padding: 15px 10px 0 10px;
        th{
            padding: 10px 0;
            span{
                font-size: 16px;
                color: #005B82;
                line-height: 20px;
                padding: 8px 6px;
            }
        }
        td{
            padding: 0;
            a{            
                font-size: 16px;
                color: #005B82;
                line-height: 20px;
                padding: 4px 4px;
                display: block;
                &:hover{
                    background-color: #009944;
                    color: #fff;
                }
            }
        }
    }  
}

@media screen and (max-width: 1280px){
    #mk-theme-container{
        #theme-page{
            .theme-page-wrapper{
                &.mk-main-wrapper{
                    .theme-content{
                        padding: 0 20px !important;
                    }
                    .fullPageStyle{
                        &.bannerContainer{
                            margin: 0 25px;
                            min-height: initial;
                        }
                    }
                }  
            }           
            &.hasLeftSideBar{
                .rightContainer{
                    max-width: initial;
                    width: calc(70% - 50px);
                    .mk-tabs-panes{
                        .mk-tabs-pane{
                            .mk-tabs-pane-content{
                                .doctorsContainer{
                                    .doctorContainer{
                                        .doctorIdentity{
                                            margin-right: 0;
                                        }
                                        .doctorQualifications{
                                            margin-left: 225px;
                                            margin-top: 10px;
                                        }
                                    } 
                                } 
                            } 
                        } 
                    }
                }
            }
            #ftn1{
                width:100%;
                overflow-x: auto;
                table{
                    min-width: 400px;
                }
            }
        } 
    }
}

@media screen and (max-width: 768px){
    #mk-theme-container{
        #theme-page{
            .theme-page-wrapper{
                &.full-layout{
                    .theme-content{
                        padding: 0 20px !important;
                        .widget_media_image{
                            display: none;
                        }
                    }
                }
            }
            &.hasLeftSideBar{
                .rightContainer{
                    margin-right: 25px;
                    margin-top: 0;
                    width: -webkit-fill-available;
                    &.pageContainer{
                        .postHeader{
                            margin-bottom: 0;
                        }
                        .vc_tta-tabs-container{
                            display: block;
                            .vc_tta-tabs-list{
                                display: inline-grid !important;
                                @for $i from 2 to 7 {
                                    li:first-child:nth-last-child(#{$i}),
                                        li:first-child:nth-last-child(#{$i}) ~ li{ 
                                        width: 100% !important;
                                        border-top: none;
                                        border-right: none;
                                        border-bottom: 1px solid #E2E2E2 !important;
                                        border-left: none;
                                        &.is-active{
                                            border-bottom: 1px solid #E2E2E2 !important;
                                        }
                                    }
                                }
                                li{
                                    a{
                                        text-align: left !important;
                                        border: none !important;
                                    }
                                }
                            }
                        }
                        .vc_tta-panels-container{
                            .vc_tta-panels{
                                .vc_tta-panel{
                                    .vc_tta-panel-heading{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .mk-tabs-tabs{
                            display: inline-grid;
                            @for $i from 2 to 7 {
                                li:first-child:nth-last-child(#{$i}),
                                    li:first-child:nth-last-child(#{$i}) ~ li{ 
                                    width: 100%;
                                    border-top: none;
                                    border-right: none;
                                    border-bottom: 1px solid #E2E2E2;
                                    border-left: none;
                                    &.is-active{
                                        border-bottom: 1px solid #E2E2E2 !important;
                                        a{
                                            color: #009944;
                                        }
                                    }
                                }
                            }
                            li{
                                a{
                                    text-align: left;
                                    border: none !important;
                                    color: #333333;
                                }
                            }
                        }
                        .mk-tabs-panes{
                            .title-mobile{
                                display: none;
                            }
                            .mk-tabs-pane{
                                display: none;
                                &.is-active{
                                    display: block;
                                }
                                .mk-tabs-pane-content{
                                    .doctorsContainer{
                                        .doctorContainer{
                                            .doctorThumbnail{    
                                                display: block;
                                                margin-left: 25px;
                                                max-width: 110px;
                                            }
                                            .doctorIdentity{
                                                text-align: left;
                                                margin-top: 10px;
                                            }
                                            .doctorQualifications{
                                                margin-left: 25px;
                                                margin-top: 10px;
                                            }
                                        } 
                                    } 
                                } 
                            }
                        }
                    }   
                }
            }
        } 
    }
}