#theme-page{
    &.postPage{
        .theme-page-wrapper{
            .bannerContainer{
                .wpb_row{
                    &:nth-child(2){
                        display: none;
                    }
                }
            }
        }
    }
    &.hasLeftSideBar{
        .leftSideBar{
            &.menuContainer{
                width: 300px;
                display: inline-block;
                margin-right: 25px;
                margin-top: 40px;
                .menuHeader{
                    border-top: 3px solid #009944;
                    border-radius: 9px;
                    text-align: center;
                    padding-top: 15px;
                    .headerTitle{
                        line-height: 30px;
                        font-size: 18px;
                        color: #333333;
                        font-weight: 500;
                    }
                }
                ul{
                    list-style-type: none;
                    &.singleLayerMenu{
                        li{
                            &.current-menu-item{
                                >a{
                                    color: #009944;
                                }
                            }
                        }
                    }
                    li{
                        margin-left: 10px;
                        border-bottom: 1px solid #E2E2E2;
                        padding: 15px 0;
                        a{
                            font-size: 16px;
                            color: #333333;
                            letter-spacing: 0;
                            line-height: 24px;
                            font-weight: normal;
                            &:hover{
                                color: #009944;
                            }
                        }
                    }
                }
            }
        }
        .rightContainer{  
            h3{
                background: none;
            }
            strong{
                color: #333333;
            }
            p{
                color: #333333;
                font-weight: 300;
                text-align: justify;
            }
            a{
                color: #009944;
                font-weight: 400;
                &:hover{
                    color: #920783;
                }
            }
            &.postContainer{
                .pageHeader{
                    >.pageTitle{
                        font-size: 24px;
                        color: #333333;
                        letter-spacing: 0;
                        margin-bottom: 0;
                    }
                    .postBreadCrumb{
                        margin-bottom: 30px;
                        span{
                            a{
                                font-size: 12px;
                                color: #333333 !important;
                                letter-spacing: 0;
                                line-height: 24px;
                                font-weight: 300;
                            }
                            &.pageTitle{
                                &:after{
                                    content: ">";
                                    color: #333333;
                                    padding: 0 5px;
                                }
                            }
                            &.postCat{
                                &:after{
                                    content: ">";
                                    color: #626262;
                                    padding: 0 5px;
                                }
                            }
                            &.postTitle{
                                font-size: 12px;
                                color: #009944;
                                letter-spacing: 0;
                                line-height: 24px;
                                text-decoration: underline;
                                font-weight: 300;
                            }
                        }
                    }
                }
                .postHeader{
                    margin-bottom: 30px;
                    .postTitle{
                        font-size: 24px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                        font-weight: 400;
                    }
                }
                .mk-single-content{
                    margin-top: 5px;
                    .mk-tabs-tabs{
                        text-align: justify;
                        width: 100%;
                        display: table;
                        &:after {
                            content: '';
                            display: inline-block;
                            width: 100%;
                        }
                        li:first-child:nth-last-child(1) {
                            /* -or- li:only-child { */
                                width: 100%;
                        }
                        @for $i from 2 to 7 {
                            li:first-child:nth-last-child(#{$i}),
                                li:first-child:nth-last-child(#{$i}) ~ li{ 
                                width: (100% / ($i - 1) )
                            }
                        }
                        li{
                            display: table-cell;
                            float: inherit;
                            vertical-align: middle;
                            border-bottom: 1px solid #D8D8D8;
                            &.is-active{
                                border-bottom: 4px solid #009944 !important;
                                >a{
                                    font-size: 16px;
                                    color: #009944 !important;
                                    letter-spacing: 0;
                                    line-height: 24px;
                                    padding-bottom: 7px !important;                                  
                                }
                            }
                            a{
                                border: none;
                                background-color: initial;
                                text-align: center;
                                font-size: 16px;
                                color: #333333 !important;
                                letter-spacing: 0;
                                line-height: 24px;
                                white-space: pre-wrap; /* css-3 */    
                                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                                white-space: -pre-wrap; /* Opera 4-6 */    
                                white-space: -o-pre-wrap; /* Opera 7 */    
                                word-wrap: unset; /* Internet Explorer 5.5+ */
                                &:hover{
                                    color: #009944 !important;
                                }
                            }
                        }
                    }
                    .mk-tabs-panes{
                        border-top-color: transparent;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        border-left-color: transparent;
                        .mk-tabs-pane{
                            .mk-tabs-pane-content{
                                .doctorsContainer{
                                    .doctorContainer{
                                        width: 100%;
                                        margin-top: 50px;
                                        padding-bottom: 30px;
                                        border-bottom: 1px solid #626262;
                                        .doctorThumbnail{
                                            display: inline-block;
                                            vertical-align: top;
                                            max-height: 266px;
                                            overflow-y: hidden;
                                            img{
                                                width: 200px;
                                                vertical-align: middle;
                                            }
                                        }
                                        .doctorIdentity{
                                            display: inline-block;
                                            width: 200px;
                                            margin: 0 25px;
                                            text-align: center;    
                                            vertical-align: top;
                                            .doctorName{
                                                font-size: 20px;
                                                color: #626262;
                                                letter-spacing: 0;
                                                line-height: 24px;
                                                font-weight: bold;
                                            }
                                            .doctorPositions{
                                                margin-top: 10px;
                                                .doctorPosition{
                                                    font-size: 16px;
                                                    color: #626262;
                                                    letter-spacing: 0;
                                                    line-height: 24px;
                                                }
                                            }
                                            .doctorTitles{
                                                .doctorTitle{
                                                    font-size: 16px;
                                                    color: #626262;
                                                    letter-spacing: 0;
                                                    line-height: 24px;
                                                }
                                            }
                                        }
                                        .doctorQualifications{
                                            display: inline-block;
                                            max-width: 300px;
                                            margin: 0 25px; 
                                            vertical-align: top;
                                            .qualificationTitle{
                                                font-size: 20px;
                                                color: #626262;
                                                letter-spacing: 0;
                                                line-height: 24px;
                                                font-weight: bold;
                                                padding-bottom: 20px;
                                            }
                                            .doctorQualification{
                                                font-size: 16px;
                                                color: #626262;
                                                letter-spacing: 0;
                                                line-height: 24px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a{
                        color: #009944;
                    }
                }
                .yearListContainer{
                    margin-bottom: 15px;
                    #yearSelect{
                        width: 200px;
                        line-height: 22px;
                        font-size: 18px;
                        color: #333333;
                        background: url(../images/arrowdown.png) right center no-repeat #eeeeee;
                        background-size: 12px 12px;
                        background-position-x: calc(100% - 20px);
                        padding-top: 15px;
                        padding-bottom: 15px;
                        -webkit-padding-end: 50px !important;
                        -webkit-padding-start: 10px !important;
                    }
                }
                #pressCentrePosts{
                    margin-top: 15px;
                    .post{
                        margin-bottom: 0;
                        &:before{
                            content: ">";
                            color: #009944;
                            padding-right: 5px;
                        }
                        .postLink{
                            font-size: 16px;
                            letter-spacing: 0;
                            line-height: 30px;
                        }
                    }
                }
                #quarterlyNewsletterPosts{
                    margin-top: 30px;
                    margin-bottom: 100px;
                    .post{
                        margin-bottom: 20px;
                        max-width: 211px;
                        text-align: center;
                        margin-right: 35px;
                        margin-left: 15px;
                        display: inline-block;
                        vertical-align: top;
                        img{
                            max-width: 211px;
                        }
                        .postLink{
                            font-size: 16px;
                            color: #009944;
                            letter-spacing: 0;
                            line-height: 30px;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
                .queryContainer{
                    margin-top: 40px;
                    p{
                        margin-bottom: 0;
                        font-size: 16px;
                        color: #626262;
                        letter-spacing: 0;
                        line-height: 24px;
                        &.enFirstQuery{
                            margin-top: 20px;
                        }
                    }
                }  
            }
        }
    }
    &.fullPageStyle{
        .vc_row{
            margin: 0;
            .mk-page-title-box{
                border-radius: 5px; 
            }
        }
        .postContainer{
            margin-top: 40px;
            border: 1px solid #D5DEE1;
            box-shadow: 0 -4px 0 0 #009944;
            border-radius: 9px;
            .pageHeader{
                padding: 0;
                margin: 30px 0 0 55px;
                >.pageTitle{
                    font-size: 28px;
                    color: #333333;
                    letter-spacing: 0;
                    line-height: 40px;
                    margin-bottom: 0;
                }
                .postBreadCrumb{
                    margin-bottom: 0;
                    span{
                        a{
                            font-size: 12px;
                            color: #626262 !important;
                            letter-spacing: 0;
                            line-height: 24px;
                        }
                        &.pageTitle{
                            &:after{
                                content: ">";
                                color: #626262;
                                padding: 0 5px;
                                vertical-align: middle;
                            }
                        }
                        &.postCat{
                            &:after{
                                content: ">";
                                color: #626262;
                                padding: 0 5px;
                            }
                        }
                        &.postTitle{
                            font-size: 12px;
                            color: #009944;
                            letter-spacing: 0;
                            line-height: 24px;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .postHeader{
                padding:0;
                margin: 20px 0 0 55px;
                .postTitle{
                    font-size: 24px;
                    color: #009944;
                    letter-spacing: 0;
                    line-height: 24px;
                }
            }
            .mk-single-content{
                margin: 20px 0 0 55px;
            }
        }
    }
    table{
        overflow: inherit;            
        tr{
            .tableHeader{
                background-color: #009944;
                color: #fff;
                border: 1px solid #fff;
                border-bottom: none;
                &:first-child{
                    border-left: none;
                }
                &:last-child{
                    border-right: none;
                }
            }
            .tableSubHeader{
                background-color: rgba(0,153,68,0.20);
                color: #000;
                border-bottom: 1px solid #009944;
            }
            .tableTitle{
                background-color: rgba(0,153,68,0.05);
                color: #009944;
                border-bottom: 1px solid #009944;
            }
            .tableData{
                background-color: #fff;
                color: #009944;
                border-bottom: 1px solid #009944;
            }
        }
    }
}

#mk_page_footer{
    .mk-post-nav{
        display: none !important;
    }
}

@media screen and (max-width: 1280px){
    #theme-page{
        &.hasLeftSideBar{
            .leftSideBar{
                &.menuContainer{
                    margin-left: 25px;
                    width: calc(30% - 50px);
                }
            }
            .rightContainer{
                &.postContainer{
                    .mk-single-content{
                        .mk-tabs-panes{
                            .mk-tabs-pane{
                                .mk-tabs-pane-content{
                                    .doctorsContainer{
                                        .doctorContainer{
                                            .doctorIdentity{
                                                text-align: left !important;
                                                margin-right: 0;
                                            }
                                            .doctorQualifications{
                                                margin-left: 225px;
                                                margin-top: 10px;
                                            }
                                        } 
                                    } 
                                } 
                            } 
                        }
                    } 
                }
            }
        } 
    }
}

@media screen and (max-width: 768px){
    #theme-page{
        &.hasLeftSideBar{
            .leftSideBar{
                &.menuContainer{
                    display: none;
                }
            }
            .rightContainer{
                &.postContainer{
                    .postHeader{
                        margin-bottom: 0;
                    }
                    .mk-single-content{
                        .mk-tabs-tabs{
                            display: inline-grid;
                            @for $i from 2 to 7 {
                                li:first-child:nth-last-child(#{$i}),
                                    li:first-child:nth-last-child(#{$i}) ~ li{ 
                                    width: 100%;
                                    border-top: none;
                                    border-right: none;
                                    border-bottom: 1px solid #E2E2E2;
                                    border-left: none;
                                    &.is-active{
                                        border-bottom: 1px solid #E2E2E2 !important;
                                        a{
                                            color: #009944;
                                        }
                                    }
                                }
                            }
                            li{
                                a{
                                    text-align: left;
                                    border: none !important;
                                    color: #626262 !important;
                                }
                            }
                        }
                        .mk-tabs-panes{
                            .title-mobile{
                                display: none;
                            }
                            .mk-tabs-pane{
                                display: none;
                                &.is-active{
                                    display: block;
                                }
                                .mk-tabs-pane-content{
                                    .doctorsContainer{
                                        .doctorContainer{
                                            .doctorThumbnail{    
                                                display: block;
                                                margin-left: 25px;
                                                max-width: 110px;
                                            }
                                            .doctorIdentity{
                                                text-align: left;
                                                margin-top: 10px;
                                            }
                                            .doctorQualifications{
                                                margin-left: 25px !important;
                                                margin-top: 10px;
                                            }
                                        } 
                                    } 
                                } 
                            } 
                        }
                    } 
                }
            }
        } 
    } 
}