body{
    &.search{
        #mk-theme-container{
            #theme-page{
                .mk-main-wrapper-holder{
                    .theme-content{
                        float: initial;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}