#theme-page{
    #servicesOverviewSideBar{
        .multiLayerMenu{
            .menu-item{
                &.current_page_item{
                    a{
                        color: #009944;
                    }
                }      
                >.sub-menu{
                    display: none;
                    margin-left: 10px;
                    >li{
                        border-bottom: none;
                        &.current-menu-parent{
                            >a{
                                color: #009944;
                            }
                        }
                        margin-left: 0;
                        padding-bottom: 0px;
                        ul{
                            li{
                                border-bottom: none;
                                &.current-menu-item{
                                    >a{
                                        color: #009944;
                                    }
                                }
                                a{
                                    font-size: 14px;
                                    color: #333333;
                                    letter-spacing: 0;
                                    line-height: 28px;
                                    &:before{
                                        content: ">";
                                        color: #333333;
                                        padding-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                &.current-menu-ancestor{
                    >.sub-menu{
                        display: block;
                        >.menu-item-has-children{
                            &.current-menu-item{
                                a{
                                    color: #009944;
                                }
                            }      
                            >a{   
                                font-size: 16px;
                                color: #333333;
                                &:before{
                                    content: " ";
                                }
                            }
                            .sub-menu{
                                .menu-item{
                                    a{
                                        color:#333333;
                                        font-weight: 300;
                                        &:hover{
                                            color: #009944;
                                        }
                                    }
                                    &.current-menu-item{
                                        a{
                                            color: #009944;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }  
            }
            >.menu-item-has-children{
                &.current_page_item{
                    >a{
                        color: #333333 !important;
                    }
                }
                >a{
                    position: relative;
                    display: block;
                    &:after{    
                        content: '';
                        background-image: url(../images/downArrow.png);
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-size: 15px 15px;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        position: absolute;
                        top: 50%;
                        right: 1%;
                        transform: translate(-50%, -50%);
                    }
                    &.actived{
                        &:after{    
                            content: '';
                            background-image: url(../images/upArrow.png);
                            background-color: transparent;
                            background-repeat: no-repeat;
                            background-size: 15px 15px;
                            display: inline-block;
                            height: 15px;
                            width: 15px;
                            position: absolute;
                            top: 50%;
                            right: 1%;
                            transform: translate(-50%, -50%);
                        }
                    }                
                }
                .sub-menu{
                    >li{
                        &.menu-item-has-children{
                            >a{
                                font-size: 18px;
                            }
                        }
                        a{  
                            font-size: 14px;
                            font-weight: 400;
                            display: table;
                            &:before{
                                content: ">";
                                color: #333333;
                                padding-right: 5px;
                                display: table-cell;
                            }
                            &:hover{
                                color: #009944;
                                &:before{
                                    color: #009944;
                                }
                            }
                        }
                        &.current-menu-item{
                            >a{
                                color: #009944;
                                &:before{
                                    color: #009944;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
