@media screen and (max-width: 768px){
	.homepageGrid .homepageGridContainer.slick-slider .slick-list .slick-track .slick-slide{
		margin-left:5px;
		margin-right: 5px;
	}
	.homepageGrid .homepageGridContainer.slick-slider .slick-list .slick-track .slick-slide .gridInner .gridTitle{
		font-size: 14px;
		font-weight: bold;
		padding-left: 8px;
		position: relative;
		padding-right: 8px;
	}
	.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.homepageGrid .homepageGridContainer.slick-slider .slick-list .slick-track .slick-slide .gridInner .gridDescription{
		height: 75px;
		overflow-y: auto;
		padding-left: 8px;
		padding-right: 8px;
	}
	.homepageGrid .homepageGridContainer .gridTitle a{
		margin-bottom: 10px;
		display: inline;
		height: auto;
	}
	.homepageGrid .homepageGridContainer.slick-slider .slick-list .slick-track .slick-slide .gridInner .gridLink{
		padding-left: 8px;
		position: absolute;
		bottom: 0;
	}
	.homepageGrid .homepageGridContainer.slick-slider .slick-list .slick-track .slick-slide .gridInner{
		min-height: 410px;
		position: relative;
	}
	#theme-page .theme-page-wrapper .theme-content{
		padding-left: 10px;
		padding-right: 10px;
	}
	.homepageSideBarContainer.column_container{
		padding-left: 10px;
		padding-right: 10px;
	}
	#text-block-21{
		padding-top: 15px;
	}
	body #mk-nav-search-wrapper {
	    position: fixed;
		right: initial;
		left: 20px;
		width: calc(100% - 40px) !important;
	    height: 60px;
	    background-color: #fff;
	    display: none;
	    z-index: 9;
	    top: 120px;
	    background: rgba(255,255,255,0.8);
	}
	body #mk-nav-search-wrapper input[type=text]{
		width: calc(100% - 35px);
	}

	body .has-mega-menu>ul.sub-menu>li.menu-item{
		float: none;
	}
	.bannerContainer{
		display: none;
	}
	.menuContainer.leftSideBar{
		display: none;
	}
	#theme-page.hasLeftSideBar .rightContainer{
		min-width: 0 !important;
		float: none !important;
	}
	#theme-page.hasLeftSideBar .rightContainer .postHeader{
	    text-align: center;
	    padding-top: 15px;
	}	
	#theme-page.hasLeftSideBar .rightContainer .postHeader:after,#theme-page.doctorsPage .postContainer .headerContainer .title:after {
        content: " ";
        display: block;
        height: 10px;
        width: 100%;
		border-top: 3px solid #009944;
		border-radius: 9px;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 10px;
    }​

    #theme-page.doctorsPage .postContainer .searchContainer .servicesListContainer select#serviceSelect{
    	max-width: 100%;
    }
    #theme-page.doctorsPage .postContainer .searchContainer .inputContainer input{
    	width: 100%;
    	border-radius: 9px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    }
    #theme-page.doctorsPage .postContainer .searchContainer .buttonContainer .searchBtn{
    	display: block;
    }
   	#theme-page.doctorsPage .postContainer .doctorGroupContainer .doctorContainer .doctorArticles{
    	display: none;
    	text-align: left;
    	margin-top: 10px;
    	float: none;
    }
    #theme-page.doctorsPage .postContainer .doctorGroupContainer .doctorContainer .doctorIdentity{
    	text-align: left;
    	float: none;
    }

	#theme-page.doctorsPage .postContainer .doctorGroupContainer .doctorContainer .doctorQualifications .doctorQualification{
    	text-align: left;
    }

    #theme-page.doctorsPage .postContainer .doctorGroupContainer .doctorContainer .doctorQualifications .qualificationTitle{
    	padding-bottom: 0;
    	margin-top: 10px;
    	text-align: left;
    }
    #theme-page.doctorsPage .postContainer .doctorGroupContainer .doctorContainer .doctorQualifications{
    	display: none;
    	float: none;
    }
    #theme-page.doctorsPage .postContainer .doctorGroupContainer .groupContainer{
    	margin-left: 10px;
    	margin-right: 10px;
    }
    #theme-page.doctorsPage .postContainer .doctorGroupContainer .doctorContainer{
    	margin-left: 10px;
    	margin-right: 10px;	
    }

    #mk-theme-container #theme-page .theme-page-wrapper.mk-main-wrapper .fullPageStyle.suggestionsContainer .pageContent{
    	margin: auto !important;
    }
    #theme-page.hasLeftSideBar .rightContainer #quarterlyNewsletterPosts .post{
	    display: block;
		width: 100%;
		margin-right: 0;
		max-width: 100%;
    }
    #theme-page.hasLeftSideBar .rightContainer #quarterlyNewsletterPosts .post a{
    	display: block;
    	text-align: center;margin-top: 5px;
    }
    #mk-theme-container #theme-page.hasLeftSideBar img{
    	width: 100%;
    	max-width: 100%;
    	height: auto;
    }
    .mk-language-nav>a svg{
    	    margin-top: -6px;
    	    height: 20px !important;
    		width: 20px !important;
    }
    .mk-header .mk-header-holder .mk-header-inner .mk-responsive-wrap .mk-language-nav .mk-language-nav-sub-wrapper .mk-language-nav-sub .mk-language-navigation li a span{
    	font-size: 15px;
    }
	#theme-page.doctorsPage .postContainer .searchContainer .inputContainer:before {
	    content: '';
	    background-image: url(../images/search.png);
	    background-repeat: no-repeat;
	    background-size: 15px 15px;
	    position: absolute;
	    display: inline-block;
	    height: 15px;
	    width: 15px;
	    margin: 15px;
	}

	#theme-page.doctorsPage .postContainer .doctorGroupContainer .doctorContainer .respShowBtn{
		display: block;
		text-align: left;
		color: #009944;
	}

	#theme-page.doctorsPage .postContainer .doctorGroupContainer .doctorContainer .respShowBtn .moreBtn{
		cursor: pointer;
	}

}